.autocomplete {
	left: calc(50% - 125px);
}

.user-pic {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin: 20px auto 20px;
	border-left: 3px solid #ddd;
	border-right: 3px solid #ddd;
	border-top: 3px solid red;
	border-bottom: 3px solid red;
}